:root {
  @apply light;
}

.dark {
  --color-bg-primary: #1a1a1a;
  --color-bg-secondary: #313131;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ced3da;
  --color-bookmark: #FFF3B7;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #C4C4C4;
  --color-text-primary: #000000;
  --color-text-secondary: #C4C4C4;
  --color-bookmark: #FFF3B7;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';